@tailwind base;

@font-face {
    font-family: 'Commissioner';
    src: url('../fonts/Commissioner-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Commissioner';
    src: url('../fonts/Commissioner-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Commissioner';
    src: url('../fonts/Commissioner-Bold.ttf');
    font-weight: 700;
}

@tailwind components;

.card {
    @apply px-6 py-5 mx-auto bg-white border rounded-md;
}

.card-modal {
    @apply mx-auto bg-white border rounded-md;
}

.button {
    @apply inline-block font-bold text-gray-100 rounded-full bg-cyan-100;
}

.button-secondary {
    @apply inline-block font-bold text-black bg-white border-2 rounded-full;
}

.button-disable {
    @apply inline-block font-bold text-gray-100 rounded-full bg-darkgray;
}

.paragraph {
    @apply text-sm leading-relaxed text-darkgray;
}

@tailwind utilities;